<div class="container-fluid ">
  <div class="row">
    <div class="mt-3">
      <div class="col-12 d-inline-block">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">請輸入相對路徑</span>
          </div>
          <input [(ngModel)]="bb" (change)="bbC();" style="    width: 820px;">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">請輸入 Description</span>
          </div>
          <input [(ngModel)]="description" (change)="bbC();" style="    width: 800px;">
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  [(ngModel)]="option1" (change)="checkBoxChange(1)">
          <label class="form-check-label" for="inlineCheckbox1">在Description加上字串'-'</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  [(ngModel)]="option2" (change)="checkBoxChange(2)">
          <label class="form-check-label" for="inlineCheckbox2">在Description加上字串'上行'</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3"  [(ngModel)]="option3" (change)="checkBoxChange(3)">
          <label class="form-check-label" for="inlineCheckbox3">在Description加上字串'下行'</label>
        </div>
        <div class="input-group mb-3 mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">自訂日期，非必輸，預設今日</span>
          </div>
          <input [(ngModel)]="year" (change)="bbC();" [placeholder]="'年份'">
          <input [(ngModel)]="month" (change)="bbC();" [placeholder]="'月份，請輸入1~12'">
          <input [(ngModel)]="day" (change)="bbC();" [placeholder]="'日，請輸入1~31'">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">請選擇 你の名字</span>
          </div>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="name" (change)="bbC();">
            <option value=''>請選擇</option>
            <option value="Irene Lo">Irene Lo</option>
            <option value="Arno Chang">Arno Chang</option>
            <option value="Larry Laiarn">Larry Lai</option>
            <option value="Alvin Hsu">Alvin Hsu</option>
            <option value="Paul">Paul</option>
            <option value="David Huang">David Huang</option>
          </select>
        </div>
        <div class="alert alert-secondary" role="alert">
          <!-- <span *ngFor="let item of items">
            <p>{{item}}</p>
          </span> -->
          <p class="text-success mb-0" *ngIf="items.length > 0">路徑長度為：{{(items[2]+'.ts').length}}</p>
          <p class="text-success mb-0" *ngIf="items.length > 0">路徑長度計算說明： 從app/開始算一直到.ts結束</p>
          <p class="text-danger mb-0" *ngIf="items.length > 0">{{danger}}</p>
        </div>
      </div>
      <div class="col-12 d-inline-block">
        <div class="alert alert-secondary" role="alert">
          <span *ngFor="let item of items2; let i = index">
            &nbsp;{{item}}<br *ngIf="i< items2.length">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>